.hero-info {
	padding-top: 246px;
	&__title {
		font-weight: 600;
		font-size: 64px;
		line-height: 76px;
		margin-bottom: 40px;
		max-width: 517px;
	}
	&__description {
		font-weight: 400;
		font-size: 18px;
		line-height: 32px;
		max-height: 290px;
		overflow-y: auto;
		opacity: 0.75;
		margin-bottom: 38px;
	}
	&__btn-shop {
		font-weight: 500;
		font-size: 18px;
		color: white;
		padding: 14px 32px;
		border-radius: 50px;
		background: var(--gold);
		transition: 0.1s;
	}
	&__btn-shop:hover {
		opacity: 0.8;
	}
}