.hero {
	width: 100%;
	&__wrapper {
		background: url('../../img/1.png') no-repeat;
		background-position: bottom right;
		height: 100%;
	}
	&__inner {
		display: grid;
		grid-template-columns: 517px 650px;
		grid-template-rows: 800px 1fr;
		gap: 0 133px;
		height: 100%;
	}
	&__item {
		position: relative;
		overflow: hidden;
	}
	&__item:nth-child(3) {
		justify-self: center;
		align-self: center;
	}
	&__item:nth-child(4) {
		justify-self: end;
		align-self: end;
		margin-bottom: 40px;
	}
	&__img {
		display: block;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&__img-text {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba(255,255,255,.3);
		backdrop-filter: blur(10px);
		text-align: center;
		padding-top: 42px;
		padding-bottom: 42px;
		font-weight: 500;
		font-size: 28px;
		line-height: 34px;
		color: #fff;
		transition: 0.3s;
	}
}
